
.hero {
  height: 100vh;
  background-image: url('../public/images/heroFinal.svg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  
}

.little-presentation{
  height: 98vh;
  background-image: url('../public/images/LittlePresentationOnlybg.svg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}


.container{
  margin-top: 104px;
}
.bigTextPresentation{
  font-family: "Impact", sans-serif;
  text-align: left;
  margin-left: 11%;
  /* margin-top: %; */
  font-size: 120px;
  margin-right: 50%;
  margin-top: 80px;
  margin-bottom: 30px;
  text-shadow: 3px 3px 1px black;
}

.smalTextPresentation{
  font-family: "Impact", sans-serif;
  text-align: left;
  margin-left: 11%;
  margin-top: 7%;
  font-size: 45px;
  word-spacing: 5px;
  letter-spacing: 3px;
  text-shadow: 3px 3px 1px black;
}

.carrousel{
  height: 100vh;
  /* align-items: ; */
}

.qualquer{
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Impact", sans-serif;
  font-size: 50px;
}


