.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  height: 50px;
  position: fixed;
  width: 100%;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: pink;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #c26d0b;
}

.hero {
  height: 100vh;
  background-image: url('../public/images/heroFinal.svg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

.little-presentation{
  height: 98vh;
  background-image: url('../public/images/LittlePresentationOnlybg.svg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}


.container{
  margin-top: 104px;
}
.bigTextPresentation{
  font-family: "Impact", sans-serif;
  text-align: left;
  margin-left: 11%;
  /* margin-top: %; */
  font-size: 120px;
  margin-right: 50%;
  margin-top: 80px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 10px black;
}

.smalTextPresentation{
  font-family: "Impact", sans-serif;
  text-align: left;
  margin-left: 11%;
  margin-top: 7%;
  font-size: 45px;
  word-spacing: 5px;
  letter-spacing: 3px;
  text-shadow: 3px 3px 1px black;
}

.carrousel{
  height: 100vh;
}